@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap";
@import "app/CSS/mixins";

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  background: linear-gradient(180deg, #bb112d, #a40f27, #a40f0f, #B74D4D);
  background-size: 800% 800%;
  animation: backgroundAnimation 15s ease infinite;
}

@keyframes backgroundAnimation {
  0%{
    background-position: 11% 0;
  }

  50%{
    background-position: 90% 100%;
  }

  100%{
    background-position: 11% 0;
  }
}

.rocket-form{
  input{
    width: 80%;
    height: 50px;
    font-size: 1.2rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 5px;
  }

  button{
    @include DropShadow;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    padding: .5rem 1rem;
    background: #a40f0f;
    border: 2px solid #fff;
    border-radius: 25px;
  }
}
